# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Platform artifacts
android/.gradle/
android/app/debug
android/app/profile
android/app/release
ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
macos/Pods/
linux/flutter/ephemeral/
windows/flutter/ephemeral/

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log
